<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5_6XQh9iGRsbcakX4qrNdw_W4Tqf7PHI</string>
	<key>GCM_SENDER_ID</key>
	<string>162795855131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.pawelkacela.SideProjectTCA</string>
	<key>PROJECT_ID</key>
	<string>todolisttca</string>
	<key>STORAGE_BUCKET</key>
	<string>todolisttca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162795855131:ios:f72c2fe914b63cf65587be</string>
</dict>
</plist>